Course/package.json
Course/package-lock.json
Course/node_modules
Course/.env
Projects/Project_1/node_modules
Projects/Project_1/package.json
Projects/Project_1/package-lock.json
Projects/Project_2/node_modules
Projects/Project_2/package.json
Projects/Project_2/package-lock.json
Projects/Project_2/.env
Projects/Project_3/node_modules
Projects/Project_3/package.json
Projects/Project_3/package-lock.json
Projects/Project_3/.env
Projects/Project_3/mongo_data